.navbar {
    background-color: var(--color-primary);
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    }

.navbar-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-info {
    font-size: 14px;
    color: #ffffff;
}

    .navbar h3 {
    margin: 0;
    }

    .logout-btn {
    background: transparent;
    border: 1px #01481230;
    padding: 6px 12px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    }

.nav-btn{
    background: transparent;
    border: 0px solid white;
    padding: 6px 12px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.nav-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

    .logout-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
